        body {
            font-family: Arial;
            background-color: #e6d2d2;
            background-image: url(https://tse4.mm.bing.net/th/id/OIP.EX09Bh-XzYWL-2TueGdJQwAAAA?rs=1&pid=ImgDetMain&o=7&rm=3);
            background-size: cover;
            margin: 0;
            border: #dbdbdb 2px outset;
        }

        .perfil {
    width: 130px;          /* Limita el ancho de la imagen */
    height: 130px;         /* Alto idéntico para que no se deforme */
    object-fit: cover;     /* Ajusta el encuadre del avatar */
    border-radius: 50%;    /* Hace la foto completamente redonda */
    border: 3px solid white; /* Le pone un borde azul estético */
    display: block;        /* La acomoda de forma independiente */
    margin: 0 auto 15px auto; /* La centra en la columna izquierda */
}

        .contenedor {
            display: flex;
            min-height: 100vh;
            max-width: 1000px;
            margin: 0 auto;
            background: #3f3f3f;

            color: white;
        }

        .izquierda {
            width: 280px;
            background: linear-gradient(
                180deg,
                #199c56,
                #cf3700 
            );
            color: white;
            padding: 30px;
            border-left: 2px solid #30303a;
            border-right: 2px solid #30303a;
        }

        .derecha {
            width: 70%;
            padding: 20px;
            border: 2px solid #1c1c24;
        }

        h1, h2 {
            margin-top: 0;
        }

        .bio {
    line-height: 1.6;
}

.estado {
    margin-top: 20px;
    padding: 15px;

    background: #111;

    border-radius: 12px;

    line-height: 1.3;
}
